
input[type=radio] {
    display: none;
}

input[type=radio]:not(:disabled)~label {
    cursor: pointer;
}

label {
    display: inline-block;
    padding: 10px;
    color:#ffffff;
    border: 1px solid #2c2c2c;
    background: #333;
    border-radius: 4px;
    cursor: pointer; 
    width: 100%;
    height: 100%;
    transition: transform .5s ease;

}


label ul {
    list-style: none;
    margin: 15px 5px 0px;
    padding: 0px 10px 0px 0px;
}
label:hover{
    transform: scale(1.1);

}
.card-selected {

    background: #FD0073 url('img/checked.png')no-repeat;
    background-position: 95% 10px;
}


.price {
    text-align: right;
    font-weight: bold;
    font-size: 1.2rem;
}


#total {
    font-size: 3rem;
    margin: 3rem;
}


legend{
    font-weight: bold;
    font-size:3rem;
}